html { 
   max-width: 90%;
   margin: auto;
  background: url(../images/img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  font-family: Trebuchet MS;
  color:  burlywood;
}



#left{
    float: left; 
    max-width: 30%; /*first column of the page*/
    margin-right: 50px;
}

.biopic {
    float: left;
    width: 100px;
    margin-right: 10px;
}

#container{    
    max-width: 70%;  /*second column of the page*/
    overflow:hidden;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: burlywood;
    text-align: left;
}
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #9370DB;
    text-align: right;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #9370DB;
    text-align: right;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: #1199C3;
    text-decoration: none;
    margin-top: 5px;
}

container.div{
    margin-top: 30px;
}

#chart{
    text-align: left;
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
    border: 1px solid #aaa;  
    background: lightgrey;  
}

#map {
    height: 100%;
}

#mapDiv {
    height: 300px;
    width: 100%;
    padding-bottom: 5%;
}

#letsConnect img{
    width:40px; 
    margin-right: 8px;
}

#letsConnect{
    display:flex;
    flex-direction:row;    
}

.site-footer_copyright{
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 490px){
    #letsConnect{
        flex-direction:column;
    }
    #name{
        font-size:medium ;
    }
}